/*
Syntax error: Undefined mixin 'sencha-panel'.
        on line 3 of /Users/efields/Sites/soma-touch/scss/sencha-touch.scss, in `sencha-panel'
        from line 3 of /Users/efields/Sites/soma-touch/scss/sencha-touch.scss

1: /Users/efields/Sites/soma-touch/scss/sencha-touch.scss

Backtrace:
/Users/efields/Sites/soma-touch/scss/sencha-touch.scss:3:in `sencha-panel'
/Users/efields/Sites/soma-touch/scss/sencha-touch.scss:3
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/mixin_node.rb:74:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `map'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:326:in `perform_children'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:317:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/root_node.rb:59:in `perform!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:305:in `_perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/node.rb:213:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/root_node.rb:37:in `perform'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/tree/root_node.rb:29:in `render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/engine.rb:197:in `_render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/engine.rb:169:in `render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/haml/util.rb:294:in `silence_haml_warnings'
/Library/Ruby/Gems/1.8/gems/haml-3.0.24/lib/sass/engine.rb:169:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:103:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/logger.rb:43:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:102:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:93:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:84:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:92:in `recompile'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:40:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/bin/compass:26
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'sencha-panel'.\A         on line 3 of /Users/efields/Sites/soma-touch/scss/sencha-touch.scss, in `sencha-panel'\A         from line 3 of /Users/efields/Sites/soma-touch/scss/sencha-touch.scss\A \A 1: /Users/efields/Sites/soma-touch/scss/sencha-touch.scss"; }
